*{
  margin: 0;
  padding: 0;
  /* font-family: mortent; */
 /* src: url(../public/Mortend\ Bold.ttf); */
}

@font-face {
  font-family: mortent;
  src: url(../public/Mortend\ Bold.ttf);
}
.navbar{
  font-family: mortent;
}
.interior{
  font-family: mortent;
}

.about{
  font-family: mortent;
}
.Hero{
  font-family: mortent;
}
.equipment{
  font-family: mortent;
}
.founder1{
  font-family: mortent;
  /* background: #8888; */
}
.address{
  font-family: mortent;
}

.p{
  font-family: 'Courier New', Courier, monospace;
}